
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                แสดงรายการทะเบียนผู้มารับบริการ
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่เริ่มต้น</mat-label>
                <input matInput [matDatepicker]="picker1" id="startdate" name="startdate" [(ngModel)]="startdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่สิ้นสุด</mat-label>
                <input matInput [matDatepicker]="picker2" id="enddate" name="enddate" [(ngModel)]="enddate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 mr-2 shadow-xl"
                (click)="getinfoBookClaim()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
            <button type="button"
            class="flex justify-center items-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-12 mb-5 mr-2 shadow-xl"
            matTooltip="Export Excel" (click)="exportAsXLSXBookclaim()">
            <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
            <span>Excel</span>
        </button>
        </div>
         <div class="flex flex-wrap"> 
            <div class="flex-1 mr-2">
                
                <div class=" flex flex-col flex-auto p-6 bg-[#41729F] shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight text-white leading-6 truncate">จำนวนผู้ป่วยทั้งหมด</div>
                        <i class="pi pi-user text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{register_all | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
               
                <div class=" flex flex-col flex-auto p-6 bg-pink-500 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium text-white tracking-tight leading-6 truncate">AutheCode</div>
                        <i class="pi pi-chart-line text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{claimcode_notnull | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-2 text-secondary">
                        <div class="text-xl font-semibold text-white">ไม่ขอ : </div>
                        <div class="ml-1.5 font-semibold text-white">{{claimcode_null | number }} ราย</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
            
                <div class="flex flex-col flex-auto p-6 bg-orange-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight text-white leading-6 truncate">จองเคลม</div>
                        <i class="pi pi-file-edit text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold text-white tracking-tight leading-none">{{bookclaim_notnull |
                            number }}</div>
                        <div class="text-lg font-medium  text-white">ราย</div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-2 text-secondary">
                        <div class="text-xl font-semibold text-white">ไม่จองเคลม : </div>
                        <div class="ml-1.5 font-semibold text-white">{{bookclaim_null | number }} ราย</div>
                    </div>                    
                </div>
            </div>
            <div class="flex-1 mr-2">
                
                <div class="flex flex-col flex-auto p-6 bg-[#138B83] shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">คัดกรอง</div>
                        <i class="pi pi-file-excel text-6xl" style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{screen_notnull | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-2 text-secondary">
                        <div class="text-xl font-semibold text-white">ไม่ผ่านคัดกรอง : </div>
                        <div class="ml-1.5 font-semibold text-white">{{screen_null | number }} ราย</div>
                    </div>        
                </div>

            </div>

        </div> 
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 mat-elevation-z8">
            <table mat-table [dataSource]="itemBookclaim" class="table-auto">
            <!-- icon -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">Person</th>
                <td mat-cell *matCellDef="let element" height="20" width="20"> 
                    <span class="mx-2">
                        <img [src]="element.age | patientImage:element.male" alt="Patient Image"  />
                    </span> </td>
            </ng-container>
            <!-- icon money-->
            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">icon</th>
                <td mat-cell *matCellDef="let element" height="20" width="20"> 
                    <span class="mx-2">
                        <img src="../../../../assets/images/bg/money.png" alt="Patient Image"  (click)="getAttact_detail(element.vn)"/>
                    </span> </td>
                </ng-container>                
            <!-- no -->
            <ng-container matColumnDef="vn">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">Visit Number</th>
                <td mat-cell *matCellDef="let element"> {{element.vn}} </td>
            </ng-container>
            <!-- hn -->
            <ng-container matColumnDef="hn">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
            </ng-container>
            <!-- an -->
            <ng-container matColumnDef="an">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                <td mat-cell *matCellDef="let element"> {{element.an}} </td>
            </ng-container>
            <!-- vstdttm -->
            <ng-container matColumnDef="vstdttm">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่รับบริการ</th>
                <td mat-cell *matCellDef="let element"> {{element.vstdttm}} </td>
            </ng-container>
             <!-- vsttime -->
             <ng-container matColumnDef="vsttime">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เวลารับบริการ</th>
                <td mat-cell *matCellDef="let element"> {{element.vsttime}} </td>
            </ng-container>
             <!-- fullname -->
             <ng-container matColumnDef="fullname">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-สกุล</th>
                <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>
             <!-- sex -->
             <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เพศ</th>
                <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
            </ng-container>  
              <!-- namecln -->
            <ng-container matColumnDef="namecln">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">คลินิก</th>
                <td mat-cell *matCellDef="let element"> {{element.namecln}} </td>
            </ng-container>            
              <!-- namepttype -->
              <ng-container matColumnDef="namepttype">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สิทธิ์การรักษษ</th>
                <td mat-cell *matCellDef="let element"> {{element.namepttype}} </td>
            </ng-container>             
              <!-- inscl -->
              <ng-container matColumnDef="inscl">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">inscl</th>
                <td mat-cell *matCellDef="let element"> {{element.inscl}} </td>
            </ng-container> 
              <!-- hospmain -->
              <ng-container matColumnDef="hospmain">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานบริการหลัก</th>
                <td mat-cell *matCellDef="let element"> {{element.hospmain}} </td>
            </ng-container> 
              <!-- hospsub -->
              <ng-container matColumnDef="hospsub">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานบริการรอง</th>
                <td mat-cell *matCellDef="let element"> {{element.hospsub}} </td>
            </ng-container>
            <!-- claimtype -->
            <ng-container matColumnDef="claimtype">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">claim type</th>
                <td mat-cell *matCellDef="let element"> {{element.claimtype}} </td>
            </ng-container>   
              <!-- claimcode -->
              <ng-container matColumnDef="claimcode">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">claim code</th>
                <td mat-cell *matCellDef="let element"> {{element.claimcode}} </td>
            </ng-container> 
            <!-- authen_code_closevisit -->
            <ng-container matColumnDef="authen_code_closevisit">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">close visit</th>
                <td mat-cell *matCellDef="let element"> {{element.authen_code_closevisit}} </td>
            </ng-container>              
              <!-- claim_status -->
              <ng-container matColumnDef="claim_status">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะจองเคลม</th>
                <td mat-cell *matCellDef="let element"> {{element.claim_status}} </td>
            </ng-container>
              <!-- screen_status -->
              <ng-container matColumnDef="screen_status">
                <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะคัดกรอง</th>
                <td mat-cell *matCellDef="let element"> {{element.screen_status}} </td>
            </ng-container>
                                  
                <tr mat-header-row *matHeaderRowDef="bookclaimdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: bookclaimdisplayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>

        </div>
    </div>
</body>

</html>
