
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                แสดงรายการเบิกค่ารักษาพยาบาลผู้ป่วยนอกสิทธิประกันสังคม
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่เริ่มต้น</mat-label>
                <input matInput [matDatepicker]="picker1" id="startdate" name="startdate" [(ngModel)]="startdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่สิ้นสุด</mat-label>
                <input matInput [matDatepicker]="picker2" id="enddate" name="enddate" [(ngModel)]="enddate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 shadow-xl"
                (click)="getSsopInfo()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- จำนวนผู้ป่วยทั้งหมด -->
                <div class=" flex flex-col flex-auto p-6 bg-teal-400 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight text-white leading-6 truncate">จำนวนผู้ป่วยทั้งหมด</div>
                        <i class="pi pi-user text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{ssop_all_status | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- สถานะส่งขอเบิก -->
                <div class=" flex flex-col flex-auto p-6 bg-pink-500 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium text-white tracking-tight leading-6 truncate">ดำเนินการเสร็จ</div>
                        <i class="pi pi-chart-line text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{ssop_statflg_A | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- สถานะแก้ไข -->
                <div class="flex flex-col flex-auto p-6 bg-orange-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight text-white leading-6 truncate">รายการแก้ไข ติด E</div>
                        <i class="pi pi-file-edit text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold text-white tracking-tight leading-none">{{ssop_statflg_E |
                            number }}</div>
                        <div class="text-lg font-medium  text-white">ราย</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- สถานะยกเลิก -->
                <div class="flex flex-col flex-auto p-6 bg-gray-800 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">รายการยกเลิก ติด D</div>
                        <i class="pi pi-file-excel text-6xl" style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{ssop_statflg_D | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ไม่ระบุสถานะ -->
                <div class="flex flex-col flex-auto p-6 bg-gray-400 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white ">
                            ไม่ระบุสถานะ</div><i class="pi pi-box text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{ssop_statflg_N | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <!-- Start Tab -->
            <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        บัญชีลูกหนี้ ที่ดำเนินการเสร็จสิ้นแล้ว
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXFlagA()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                    <table mat-table [dataSource]="itemSsopstatusflgA">
                                        <ng-container matColumnDef="invno">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">InvNo.</th>
                                            <td mat-cell *matCellDef="let element"> {{element.invno}} </td>
                                        </ng-container> 
                                        <ng-container matColumnDef="dttran_date">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ส่ง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dttran_date}} </td>
                                        </ng-container>
                                        <!-- dttran_time -->
                                        <ng-container matColumnDef="dttran_time">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เวลาที่ส่ง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dttran_time}} </td>
                                        </ng-container>
                                        <!-- hcode -->
                                        <ng-container matColumnDef="hcode">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หน่วยบริการ</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hcode}} </td>
                                        </ng-container>
                                        <!-- hn -->
                                        <ng-container matColumnDef="hn">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">hn
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                        </ng-container>
                                        <!-- pid -->
                                        <ng-container matColumnDef="pid">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                                        </ng-container>
                                        <!-- name -->
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                                </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                        <!-- hmain -->
                                        <ng-container matColumnDef="hmain">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                รหัสสถานบริการหลัก</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hmain }}
                                            </td>
                                        </ng-container>
                                        <!-- amount -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                เรียกเก็บ</th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount }}
                                            </td>
                                        </ng-container>
                                         <!-- paid -->
                                         <ng-container matColumnDef="paid">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                จ่ายจริง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.paid }}
                                            </td>
                                        </ng-container>   
                                        <!-- claimamt -->
                                        <ng-container matColumnDef="claimamt">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ยอดที่ขอเบิก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.claimamt}}
                                            </td>
                                        </ng-container>
    

                                        <!-- Tflag-->
                                         <ng-container matColumnDef="tflag">
                                           <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                           </th>
                                           <td mat-cell *matCellDef="let element"> {{element.tflag}} </td>
                                        </ng-container> 

                                        <tr mat-header-row *matHeaderRowDef="ssopstatusflgAdisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ssopstatusflgAdisplayedColumns;"></tr>
                                    </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        บัญชีลูกหนี้ สถานะส่งแก้ไข E
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXFlagE()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                    <table mat-table [dataSource]="itemSsopstatusflgE">
                                        <ng-container matColumnDef="invno">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">InvNo.</th>
                                            <td mat-cell *matCellDef="let element"> {{element.invno}} </td>
                                        </ng-container> 
                                        <ng-container matColumnDef="dttran_date">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ส่ง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dttran_date}} </td>
                                        </ng-container>
                                        <!-- dttran_time -->
                                        <ng-container matColumnDef="dttran_time">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เวลาที่ส่ง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dttran_time}} </td>
                                        </ng-container>
                                        <!-- hcode -->
                                        <ng-container matColumnDef="hcode">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หน่วยบริการ</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hcode}} </td>
                                        </ng-container>
                                        <!-- hn -->
                                        <ng-container matColumnDef="hn">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">hn
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                        </ng-container>
                                        <!-- pid -->
                                        <ng-container matColumnDef="pid">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                                        </ng-container>
                                        <!-- name -->
                                        <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                                </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                        <!-- hmain -->
                                        <ng-container matColumnDef="hmain">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                รหัสสถานบริการหลัก</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hmain }}
                                            </td>
                                        </ng-container>
                                        <!-- amount -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                เรียกเก็บ</th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount }}
                                            </td>
                                        </ng-container>
                                         <!-- paid -->
                                         <ng-container matColumnDef="paid">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                จ่ายจริง</th>
                                            <td mat-cell *matCellDef="let element"> {{element.paid }}
                                            </td>
                                        </ng-container>   
                                        <!-- claimamt -->
                                        <ng-container matColumnDef="claimamt">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ยอดที่ขอเบิก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.claimamt}}
                                            </td>
                                        </ng-container>
    

                                        <!-- Tflag-->
                                         <ng-container matColumnDef="tflag">
                                           <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                           </th>
                                           <td mat-cell *matCellDef="let element"> {{element.tflag}} </td>
                                        </ng-container> 

                                        <tr mat-header-row *matHeaderRowDef="ssopstatusflgEdisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ssopstatusflgEdisplayedColumns;"></tr>
                                    </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>  
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                    บัญชีลูกหนี้ รายการขอยกเลิก
                </ng-template>
                <!-- ส่วนที่3 ตารางข้อมูล -->
                <div class="justify-center">
                    <div class="flex-items-2 bg-white border-2">
                        <button type="button"
                            class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                            matTooltip="Export Excel" (click)="exportAsXLSXFlagD()">
                            <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                            <span>Excel</span>
                        </button>
                        <div class="p-2 justify-content">
                            <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemSsopstatusflgD">
                                    <ng-container matColumnDef="invno">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">InvNo.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.invno}} </td>
                                    </ng-container> 
                                    <ng-container matColumnDef="dttran_date">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ส่ง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dttran_date}} </td>
                                    </ng-container>
                                    <!-- dttran_time -->
                                    <ng-container matColumnDef="dttran_time">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เวลาที่ส่ง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dttran_time}} </td>
                                    </ng-container>
                                    <!-- hcode -->
                                    <ng-container matColumnDef="hcode">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หน่วยบริการ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hcode}} </td>
                                    </ng-container>
                                    <!-- hn -->
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">hn
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- pid -->
                                    <ng-container matColumnDef="pid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                            </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- hmain -->
                                    <ng-container matColumnDef="hmain">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            รหัสสถานบริการหลัก</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hmain }}
                                        </td>
                                    </ng-container>
                                    <!-- amount -->
                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            เรียกเก็บ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.amount }}
                                        </td>
                                    </ng-container>
                                     <!-- paid -->
                                     <ng-container matColumnDef="paid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            จ่ายจริง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.paid }}
                                        </td>
                                    </ng-container>   
                                    <!-- claimamt -->
                                    <ng-container matColumnDef="claimamt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ยอดที่ขอเบิก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.claimamt}}
                                        </td>
                                    </ng-container>


                                    <!-- Tflag-->
                                     <ng-container matColumnDef="tflag">
                                       <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                       </th>
                                       <td mat-cell *matCellDef="let element"> {{element.tflag}} </td>
                                    </ng-container> 

                                    <tr mat-header-row *matHeaderRowDef="ssopstatusflgDdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ssopstatusflgDdisplayedColumns;"></tr>
                                </table>
                            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                    บัญชีลูกหนี้ ไม่ระบุสถานะ
                </ng-template>
                <!-- ส่วนที่4 ตารางข้อมูล -->
                <div class="justify-center">
                    <div class="flex-items-2 bg-white border-2">
                        <button type="button"
                            class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                            matTooltip="Export Excel" (click)="exportAsXLSXFlagN()">
                            <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                            <span>Excel</span>
                        </button>
                        <div class="p-2 justify-content">
                            <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemSsopstatusflgN">
                                    <ng-container matColumnDef="invno">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">InvNo.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.invno}} </td>
                                    </ng-container> 
                                    <ng-container matColumnDef="dttran_date">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ส่ง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dttran_date}} </td>
                                    </ng-container>
                                    <!-- dttran_time -->
                                    <ng-container matColumnDef="dttran_time">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เวลาที่ส่ง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dttran_time}} </td>
                                    </ng-container>
                                    <!-- hcode -->
                                    <ng-container matColumnDef="hcode">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หน่วยบริการ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hcode}} </td>
                                    </ng-container>
                                    <!-- hn -->
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">hn
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- pid -->
                                    <ng-container matColumnDef="pid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                            </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- hmain -->
                                    <ng-container matColumnDef="hmain">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            รหัสสถานบริการหลัก</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hmain }}
                                        </td>
                                    </ng-container>
                                    <!-- amount -->
                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            เรียกเก็บ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.amount }}
                                        </td>
                                    </ng-container>
                                     <!-- paid -->
                                     <ng-container matColumnDef="paid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            จ่ายจริง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.paid }}
                                        </td>
                                    </ng-container>   
                                    <!-- claimamt -->
                                    <ng-container matColumnDef="claimamt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ยอดที่ขอเบิก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.claimamt}}
                                        </td>
                                    </ng-container>


                                    <!-- Tflag-->
                                     <ng-container matColumnDef="tflag">
                                       <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                       </th>
                                       <td mat-cell *matCellDef="let element"> {{element.tflag}} </td>
                                    </ng-container> 

                                    <tr mat-header-row *matHeaderRowDef="ssopstatusflgNdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ssopstatusflgNdisplayedColumns;"></tr>
                                </table>
                            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
            </mat-tab>
            </mat-tab-group>
            <!-- end Tab -->

        </div>
    </div>
</body>

</html>

