<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                DASHBOARD ผู้ป่วยนอก
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <span class="mr-2 mb-5">ปีงบประมาณ</span>
            <mat-form-field class="d-flex flex-column w-0/2">
                <mat-select [(ngModel)]="selectedyearbudget" (selectionChange)="onOptionsSelectedYY()">
                    <mat-option *ngFor="let i of itemYear" [value]="i.year_eng">
                      {{i.year_th}}
                    </mat-option>
                  </mat-select>                
            </mat-form-field>
            <span class="ml-2 mr-2 mb-5">เลือกคลินิก</span>
            <mat-form-field class="d-flex flex-column w-1/4 mr-2">
                <mat-select [(ngModel)]="selectedCln" (selectionChange)="onOptionsSelected()">
                    <mat-option *ngFor="let item of itemCln" [value]="item.cln">
                      {{item.namecln}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <mat-checkbox class="example-margin mb-4" [(ngModel)]="isCheckbox" (change)="logCheckbox()">เลือกทุกคลินิก</mat-checkbox>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 shadow-xl"
                (click)="getDashboardInfo()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- ลงทะเบียน -->
                <div class="flex flex-col flex-auto p-6 bg-blue-50 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">ลงทะเบียน</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-blue-500">{{op_all_VN | number }}</div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_all_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- Appro -->
                <div class="flex flex-col flex-auto p-6 bg-green-50 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">กลับบ้าน</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-green-500">{{op_home_VN | number }}</div>
                        <div class="text-lg font-medium text-green-600 dark:text-green-500">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_home_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- Against Advice -->
                <div class="flex flex-col flex-auto p-6 bg-gray-200 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">เสียชีวิต</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none">{{op_dead | number }}</div>
                        <div class="text-lg font-medium ">Case</div>
                        <!-- <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_home_HN | number }}</div>                                
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <!-- Dead Autopsy,Dead Non autopsy -->
                <div class="flex flex-col flex-auto p-6 bg-red-50 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">ไม่ระบุสถานะ</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-red-500">{{op_null_VN | number }}</div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_null_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid mx-10 mt-2">
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- By Escape -->
                <div class="flex flex-col flex-auto p-6 bg-purple-50 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Refer IN</div>
                        <button mat-icon-button [matMenuTriggerFor]="menu_rfri" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu_rfri="matMenu">
                            <button mat-menu-item (click)="onClickReferin()">
                              <mat-icon>dialpad</mat-icon>
                              <span>รายละเอียด</span>
                            </button>
                            <!-- <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>notifications_off</mat-icon>
                              <span>Disable alerts</span>
                            </button> -->
                          </mat-menu>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-purple-300">{{op_referin_VN | number }}</div>
                        <div class="text-lg font-medium text-purple-300 dark:text-purple-200">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_referin_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- Refer -->
                <div class="flex flex-col flex-auto p-6 bg-amber-100 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Refer OUT</div>
                        <button mat-icon-button [matMenuTriggerFor]="menu_rfro" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu_rfro="matMenu">
                            <button mat-menu-item (click)="onClickReferout()">
                              <mat-icon>dialpad</mat-icon>
                              <span>รายละเอียด</span>
                            </button>
                            <!-- <button mat-menu-item disabled>
                              <mat-icon>voicemail</mat-icon>
                              <span>Check voice mail</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon>notifications_off</mat-icon>
                              <span>Disable alerts</span>
                            </button> -->
                          </mat-menu>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-amber-500">{{op_refer_VN | number }}</div>
                        <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_refer_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <!-- Other(specify) -->
                <div class="flex flex-col flex-auto p-6 bg-indigo-50 shadow rounded-2xl overflow-hidden h-60">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">รับไว้รักษา</div>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-indigo-500">{{op_admit_VN | number }}</div>
                        <div class="text-lg font-medium text-indigo-600 dark:text-indigo-500">Visit</div>
                        <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                            <div class="text-md font-medium truncate">Case : </div>
                            <div class="ml-1.5 text-xl font-semibold">{{op_admit_HN | number }}</div>                                
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">OP Visit</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="monthChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">สิทธิ์การรักษา</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="pttypeChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">เพศ</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="genderChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">กลุ่มอายุ</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="ageChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-gray-800 p-2 my-1 shadow-md w-1/2 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0 text-white">สรุปค่ารักษา OP Visit</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="incoth_monthChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-blue-900 p-2 my-1 shadow-md w-1/2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0 text-white">สรุปค่ารักษาตามกลุ่มสิทธิ์</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="incoth_pttypeChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>