
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                แสดงรายการเบิกค่ารักษาพยาบาล AIPN
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่เริ่มต้น</mat-label>
                <input matInput [matDatepicker]="picker1" id="startdate" name="startdate" [(ngModel)]="startdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่สิ้นสุด</mat-label>
                <input matInput [matDatepicker]="picker2" id="enddate" name="enddate" [(ngModel)]="enddate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <span class="ml-2 mr-2 mb-5">เลือกหอผู้ป่วย</span>
            <mat-form-field class="d-flex flex-column w-1/4 mr-2">
              <mat-select [(ngModel)]="selecteditemIdpm" (selectionChange)="onOptionsSelected()">
                <mat-option *ngFor="let item of itemIdpm" [value]="item.idpm">
                  {{item.nameidpm}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox class="example-margin mb-4">ไม่ระบุหอผู้ป่วย</mat-checkbox>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 shadow-xl"
                (click)="getaipnInfo()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- จำนวนผู้ป่วยทั้งหมด -->
                <div class=" flex flex-col flex-auto p-6 bg-teal-400 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">จำนวนผู้ป่วยทั้งหมด</div>
                        <i class="pi pi-user text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{aipn_all_status | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ดำเนินการเสร็จ -->
                <div class=" flex flex-col flex-auto p-6 bg-pink-500 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ดำเนินการเสร็จ</div>
                        <i class="pi pi-chart-line text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{aipn_statflg_A | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- รอดำเนินการ -->
                <div class="flex flex-col flex-auto p-6 bg-orange-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium text-white tracking-tight leading-6 truncate">รอดำเนินการ ติด C</div>
                        <i class="pi pi-file-edit text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl text-white font-bold tracking-tight leading-none">{{aipn_statflg_C |
                            number }}</div>
                        <div class="text-lg font-medium text-white ">ราย</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่าง ค่ารักษา : -->
                <div class="flex flex-col flex-auto p-6 bg-gray-800 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium text-white tracking-tight leading-6 truncate">รอดำเนินการ ติด D</div>
                        <i class="pi pi-file-excel text-6xl" style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{aipn_statflg_D | number }}</div>
                        <div class="text-lg font-medium text-white dark:ttext-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่างค่ารักษาที่ต่ำกว่าชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-gray-400 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">
                            ไม่ระบุสถานะ</div>
                            <i class="pi pi-box text-6xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{aipn_statflg_N | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <!-- Start Tab -->
            <mat-tab-group  (selectedIndexChange)="_setDataSource($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        บัญชีลูกหนี้ ที่ดำเนินการเสร็จสิ้นแล้ว
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXFlagA()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                    <table mat-table [dataSource]="itemAipnstatusflgA">
                                        <ng-container matColumnDef="an">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                                            <td mat-cell *matCellDef="let element"> {{element.an}} </td>
                                        </ng-container> 
                                        <ng-container matColumnDef="hn">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                        </ng-container>
                                        <!-- cid -->
                                        <ng-container matColumnDef="pidpat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.</th>
                                            <td mat-cell *matCellDef="let element"> {{element.pidpat}} </td>
                                        </ng-container>
                                        <!-- title -->
                                        <ng-container matColumnDef="title">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">คำนำหน้า</th>
                                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                        </ng-container>
                                        <!-- namepat -->
                                        <ng-container matColumnDef="namepat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.namepat}} </td>
                                        </ng-container>
                                        <!-- dtadm -->
                                        <ng-container matColumnDef="dtadm">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ Admit
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dtadm | date:"YYYY-MM-dd"}} </td>
                                        </ng-container>
                                        <!-- dchdate Column -->
                                        <ng-container matColumnDef="dchdate">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่จำหน่าย
                                                </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dchdate | date:"YYYY-MM-dd"}} </td>
                                        </ng-container>
                                        <!-- leaveday -->
                                        <ng-container matColumnDef="leaveday">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                จำนวนวันนอก</th>
                                            <td mat-cell *matCellDef="let element"> {{element.leaveday }}
                                            </td>
                                        </ng-container>
                                        <!-- dischstat Column -->
                                        <ng-container matColumnDef="dischstat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                สถานะจำหน่าย</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischstat }}
                                            </td>
                                        </ng-container>
                                         <!-- dischtype Column -->
                                         <ng-container matColumnDef="dischtype">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                ประเภทจำหน่าย</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischtype }}
                                            </td>
                                        </ng-container>   
                                        <!-- admwt Column -->
                                        <ng-container matColumnDef="admwt">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">admwt
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.admwt}}
                                            </td>
                                        </ng-container>
    
                                        <!-- dischward Column -->
                                        <ng-container matColumnDef="dischward">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ตึก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischward }}
                                            </td>
                                        </ng-container>
    
                                        <!-- dept Column -->
                                        <ng-container matColumnDef="dept">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">dept
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
                                        </ng-container>
                                         <!-- hospmain Column -->
                                         <ng-container matColumnDef="hospmain">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานพยาบาลหลัก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hospmain}} </td>
                                        </ng-container> 
                                        <!-- status_flg Column -->
                                         <ng-container matColumnDef="status_flg">
                                           <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                           </th>
                                           <td mat-cell *matCellDef="let element"> {{element.status_flg}} </td>
                                        </ng-container> 

                                        <tr mat-header-row *matHeaderRowDef="aipnstatusflgAdisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: aipnstatusflgAdisplayedColumns;"></tr>
                                    </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        บัญชีลูกหนี้ รอดำเนินการติด C
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXFlagC()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                    <table mat-table [dataSource]="itemAipnstatusflgC">
                                        <ng-container matColumnDef="an">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                                            <td mat-cell *matCellDef="let element"> {{element.an}} </td>
                                        </ng-container> 
                                        <ng-container matColumnDef="hn">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                            <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                        </ng-container>
                                        <!-- cid -->
                                        <ng-container matColumnDef="pidpat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.</th>
                                            <td mat-cell *matCellDef="let element"> {{element.pidpat}} </td>
                                        </ng-container>
                                        <!-- title -->
                                        <ng-container matColumnDef="title">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">คำนำหน้า</th>
                                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                        </ng-container>
                                        <!-- namepat -->
                                        <ng-container matColumnDef="namepat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.namepat}} </td>
                                        </ng-container>
                                        <!-- dtadm -->
                                        <ng-container matColumnDef="dtadm">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ Admit
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dtadm | date:"YYYY-MM-dd"}} </td>
                                        </ng-container>
                                        <!-- dchdate Column -->
                                        <ng-container matColumnDef="dchdate">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่จำหน่าย
                                                </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dchdate | date:"YYYY-MM-dd"}} </td>
                                        </ng-container>
                                        <!-- leaveday -->
                                        <ng-container matColumnDef="leaveday">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                จำนวนวันนอน</th>
                                            <td mat-cell *matCellDef="let element"> {{element.leaveday }}
                                            </td>
                                        </ng-container>
                                        <!-- dischstat Column -->
                                        <ng-container matColumnDef="dischstat">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                สถานะจำหน่าย</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischstat }}
                                            </td>
                                        </ng-container>
                                         <!-- dischtype Column -->
                                         <ng-container matColumnDef="dischtype">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                                ประเภทจำหน่าย</th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischtype }}
                                            </td>
                                        </ng-container>   
                                        <!-- admwt Column -->
                                        <ng-container matColumnDef="admwt">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">admwt
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.admwt}}
                                            </td>
                                        </ng-container>
    
                                        <!-- dischward Column -->
                                        <ng-container matColumnDef="dischward">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ตึก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dischward }}
                                            </td>
                                        </ng-container>
    
                                        <!-- dept Column -->
                                        <ng-container matColumnDef="dept">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">dept
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
                                        </ng-container>
                                         <!-- hospmain Column -->
                                         <ng-container matColumnDef="hospmain">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานพยาบาลหลัก
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hospmain}} </td>
                                        </ng-container>
                                          <!-- status_flg Column -->
                                          <ng-container matColumnDef="status_flg">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.status_flg}} </td>
                                        </ng-container>
                                           <!-- checkcode Column -->
                                           <ng-container matColumnDef="checkcode">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">error code
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.checkcode}} </td>
                                        </ng-container>
                                          <!-- cname Column -->
                                          <ng-container matColumnDef="cname">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">error name
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.cname}} </td>
                                        </ng-container>
                                          <!-- remark Column -->
                                          <ng-container matColumnDef="remark">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หมายเหตุ
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="aipnstatusflgCdisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: aipnstatusflgCdisplayedColumns;"></tr>
                                    </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>  
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                    บัญชีลูกหนี้ รอพิจารณา
                </ng-template>
                <!-- ส่วนที่3 ตารางข้อมูล -->
                <div class="justify-center">
                    <div class="flex-items-2 bg-white border-2">
                        <button type="button"
                            class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                            matTooltip="Export Excel" (click)="exportAsXLSXFlagD()">
                            <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                            <span>Excel</span>
                        </button>
                        <div class="p-2 justify-content">
                            <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemAipnstatusflgD">
                                    <ng-container matColumnDef="an">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.an}} </td>
                                    </ng-container> 
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- cid -->
                                    <ng-container matColumnDef="pidpat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.pidpat}} </td>
                                    </ng-container>
                                    <!-- title -->
                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">คำนำหน้า</th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>
                                    <!-- namepat -->
                                    <ng-container matColumnDef="namepat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.namepat}} </td>
                                    </ng-container>
                                    <!-- dtadm -->
                                    <ng-container matColumnDef="dtadm">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ Admit
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dtadm | date:"YYYY-MM-dd"}} </td>
                                    </ng-container>
                                    <!-- dchdate Column -->
                                    <ng-container matColumnDef="dchdate">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่จำหน่าย
                                            </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dchdate | date:"YYYY-MM-dd"}} </td>
                                    </ng-container>
                                    <!-- leaveday -->
                                    <ng-container matColumnDef="leaveday">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            จำนวนวันนอน</th>
                                        <td mat-cell *matCellDef="let element"> {{element.leaveday }}
                                        </td>
                                    </ng-container>
                                    <!-- dischstat Column -->
                                    <ng-container matColumnDef="dischstat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            สถานะจำหน่าย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischstat }}
                                        </td>
                                    </ng-container>
                                     <!-- dischtype Column -->
                                     <ng-container matColumnDef="dischtype">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            ประเภทจำหน่าย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischtype }}
                                        </td>
                                    </ng-container>   
                                    <!-- admwt Column -->
                                    <ng-container matColumnDef="admwt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">admwt
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.admwt}}
                                        </td>
                                    </ng-container>

                                    <!-- dischward Column -->
                                    <ng-container matColumnDef="dischward">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ตึก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischward }}
                                        </td>
                                    </ng-container>

                                    <!-- dept Column -->
                                    <ng-container matColumnDef="dept">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">dept
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
                                    </ng-container>
                                     <!-- hospmain Column -->
                                     <ng-container matColumnDef="hospmain">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานพยาบาลหลัก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.hospmain}} </td>
                                    </ng-container>
                                      <!-- status_flg Column -->
                                      <ng-container matColumnDef="status_flg">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status_flg}} </td>
                                    </ng-container>
                                       <!-- checkcode Column -->
                                       <ng-container matColumnDef="checkcode">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">error code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.checkcode}} </td>
                                    </ng-container>
                                      <!-- cname Column -->
                                      <ng-container matColumnDef="cname">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">error name
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cname}} </td>
                                    </ng-container>
                                      <!-- remark Column -->
                                      <ng-container matColumnDef="remark">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หมายเหตุ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="aipnstatusflgDdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: aipnstatusflgDdisplayedColumns;"></tr>
                                </table>
                            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                    บัญชีลูกหนี้ ไม่ระบุสถานะ
                </ng-template>
                <!-- ส่วนที่4 ตารางข้อมูล -->
                <div class="justify-center">
                    <div class="flex-items-2 bg-white border-2">
                        <button type="button"
                            class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                            matTooltip="Export Excel" (click)="exportAsXLSXFlagN()">
                            <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                            <span>Excel</span>
                        </button>
                        <div class="p-2 justify-content">
                            <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemAipnstatusflgN">
                                    <ng-container matColumnDef="an">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">AN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.an}} </td>
                                    </ng-container> 
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- cid -->
                                    <ng-container matColumnDef="pidpat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.pidpat}} </td>
                                    </ng-container>
                                    <!-- title -->
                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">คำนำหน้า</th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>
                                    <!-- namepat -->
                                    <ng-container matColumnDef="namepat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ-นามสกุล
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.namepat}} </td>
                                    </ng-container>
                                    <!-- dtadm -->
                                    <ng-container matColumnDef="dtadm">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่ Admit
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dtadm | date:"YYYY-MM-dd"}} </td>
                                    </ng-container>
                                    <!-- dchdate Column -->
                                    <ng-container matColumnDef="dchdate">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">วันที่จำหน่าย
                                            </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dchdate | date:"YYYY-MM-dd"}} </td>
                                    </ng-container>
                                    <!-- leaveday -->
                                    <ng-container matColumnDef="leaveday">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            จำนวนวันนอก</th>
                                        <td mat-cell *matCellDef="let element"> {{element.leaveday }}
                                        </td>
                                    </ng-container>
                                    <!-- dischstat Column -->
                                    <ng-container matColumnDef="dischstat">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            สถานะจำหน่าย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischstat }}
                                        </td>
                                    </ng-container>
                                     <!-- dischtype Column -->
                                     <ng-container matColumnDef="dischtype">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            ประเภทจำหน่าย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischtype }}
                                        </td>
                                    </ng-container>   
                                    <!-- admwt Column -->
                                    <ng-container matColumnDef="admwt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">admwt
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.admwt}}
                                        </td>
                                    </ng-container>

                                    <!-- dischward Column -->
                                    <ng-container matColumnDef="dischward">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ตึก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dischward }}
                                        </td>
                                    </ng-container>

                                    <!-- dept Column -->
                                    <ng-container matColumnDef="dept">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">dept
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
                                    </ng-container>
                                     <!-- hospmain Column -->
                                     <ng-container matColumnDef="hospmain">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานพยาบาลหลัก
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.hospmain}} </td>
                                    </ng-container> 
                                    <!-- status_flg Column -->
                                     <ng-container matColumnDef="status_flg">
                                       <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">สถานะ
                                       </th>
                                       <td mat-cell *matCellDef="let element"> {{element.status_flg}} </td>
                                    </ng-container>   
                                    <tr mat-header-row *matHeaderRowDef="aipnstatusflgNdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: aipnstatusflgNdisplayedColumns;"></tr>
                                </table>
                            <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
            </mat-tab>
            </mat-tab-group>
            <!-- end Tab -->

        </div>
    </div>
</body>

</html>
