.flex {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    // align-content: center;
}

.bordered-table {
    border: 1px solid #ccc;
    border-collapse: collapse; 
    width: 99%; 
  }

  .mat-mdc-header-cell {
    background:teal !important;
    color:#fff !important;
  }


  .mat-mdc-row .mat-mdc-cell {
 /*    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent; */
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    background:#feffcb;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  
  .bordered-table th, .bordered-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  

.mat-mdc-row:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
 