/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: Prompt;
    src: url(../assets/fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Sarabun;
    src: url(../assets/fonts/Sarabun/THSarabun.ttf);
}
html{
    font-family: 'Prompt';
}
//เมนูด้านบน
.fuse-horizontal-navigation-menu-item *{
    font-size: 16px !important;
    font-weight: bolder !important;
}
.fuse-horizontal-navigation-item-active *{
    text-decoration: underline !important;
}

.settings-cog{
    margin-right: -60px;
}
