<mat-card class="m-4 px-8 py-8">
    <span class="justify-center text-xl font-medium">Profile</span>
    <mat-divider></mat-divider><br>
    <div class="flex flex-row">
        <form class="example-form">
            <table>
                <tbody>
                    <div class="example-form ml-1">
                        <th>
                            <span class="ml-22">ชื่อ - นามสกุล : </span>
                            <!-- <button mat-flat-button style="width: 150px; justify-content:right ;" color="primary">ชื่อ - นามสกุล</button> -->
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 300px;">
                                <input matInput placeholder="ระบุ" id="fullname" name = "fullname" [(ngModel)]="fullname" >
                            </mat-form-field>
                        </th>
                    </div>

                    <div class="example-form">
                        <th>
                            <span>Username :</span>
                            <!-- <button mat-flat-button style="width: 150px; justify-content:right ;" color="primary">เลขบัตรประชาชน</button> -->
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 300px;">
                                <input matInput placeholder="ระบุ" id="cid" name = "cid" [(ngModel)]="cid" >
                            </mat-form-field>
                        </th>
                    </div>
                    <div class="example-form ml-1">
                        <th>
                            <span class="ml-13">รหัสผ่าน :</span>
                            <!-- <button mat-flat-button style="width: 150px; justify-content:right ;" color="primary">รหัสผ่าน</button> -->
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 250px;">
                                <input matInput placeholder="ระบุ" id="password" name = "password" [(ngModel)]="password" >
                            </mat-form-field>
                    </th>
                    </div>
                    <!-- <div class="example-form ml-1">
                        <th>
                            <span class="ml-2">แผนก/หอผู้ป่วย :</span>
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 300px;">
                            <mat-select>
                                <mat-option *ngFor="let data_dprtm of data_dprtms" [value]="data_dprtm.name"  (click)="getdprtm()">
                                    {{data_dprtm.name}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </th>
                    </div> -->
                    <!-- <div class="example-form ml-1">
                        <th>
                            <span class="ml-3">เมนูที่เข้าใช้งาน :</span>
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 250px;">
                                <input matInput placeholder="ระบุ" id="accesstype" name = "accesstype" [(ngModel)]="accesstype">
                            </mat-form-field>
                        </th>
                    </div> -->
                    <div class="example-form ml-1">
                        <th>
                            <span class="ml-3">สถานะผู้ใช้งาน :</span>
                            <!-- <button mat-flat-button style="width: 150px; justify-content:right ;" color="primary">สถานะผู้ใช้งาน</button> -->
                        </th>
                        <th style="width: 80px;">
                            <mat-form-field class="example-full-width ml-2" style="width: 250px;">
                                <input matInput placeholder="ระบุ" id="is_status" name = "is_status" [(ngModel)]="is_active">
                            </mat-form-field>
                        </th>
                    </div>

                </tbody>
            </table>
        </form>
</div>
<mat-divider></mat-divider>
<div class="example-button-row flex justify-center mt-5">
    <button mat-flat-button color="primary"><mat-icon>save</mat-icon>
     บันทึก
     </button>&nbsp;
    <button mat-flat-button color="accent"><mat-icon>cancel</mat-icon>
     ยกเลิก
    </button>
  </div>
</mat-card>

