<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                REFER OUT DASHBOARD ปีงบประมาณ : {{selectedyearbudget}}  คลินิก: {{namecln}}
            </span>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">OP Visit</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="monthChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">สิทธิ์การรักษา</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="pttypeChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">เพศ</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="genderChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md w-1/3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">กลุ่มอายุ</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="ageChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-gray-800 p-2 my-1 shadow-md w-1/2 mr-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0 text-white">สรุปค่ารักษา OP Refer Visit</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="incoth_monthChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
        <div class="flex-1 rounded-2xl bg-blue-900 p-2 my-1 shadow-md w-1/2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0 text-white">สรุปค่ารักษาตามกลุ่มสิทธิ์</h4>
                </div>
                <div class="card-body">
                    <div echarts [options]="incoth_pttypeChart" class="demo-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <!-- Start Tab -->
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                         20 ลำดับโรค Refer OUT
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXdx()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemdx">
                                    <!-- code -->
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">รหัสโรค</th>
                                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">ชื่อโรค</th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- total -->
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">จำนวน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="itemdxdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: itemdxdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="mat_outline:apartment"></mat-icon>
                         20 ลำดับรายโรงพยาบาล
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXrfrlct()">
                                <mat-icon class="text-white" svgIcon="heroicons_outline:newspaper"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemrfrlct">
                                    <!-- code -->
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">รหัส รพ.</th>
                                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">ชื่อโรงพยาบาล</th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- total -->
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">จำนวน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="itemrfrlctdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: itemrfrlctdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="mat_outline:ads_click"></mat-icon>
                         รายคลินิก
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXcln()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemcln">
                                    <!-- code -->
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">รหัส คลินิก</th>
                                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">ชื่อคลินิก</th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- total -->
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">จำนวน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="itemclndisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: itemclndisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="mat_outline:airport_shuttle"></mat-icon>
                         สาเหตุการส่งต่อ
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXrfrcs()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemrfrcs">
                                    <!-- code -->
                                    <ng-container matColumnDef="code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">รหัสสาเหตุ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                                    </ng-container>
                                    <!-- name -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">สาเหตุการส่งต่อ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <!-- total -->
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center">จำนวน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="itemrfrcsdisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: itemrfrcsdisplayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>             
            </mat-tab-group>
            <!-- end Tab -->

        </div>
    </div>   
</body>

</html>