<div class="container" >
    <div class="card">
      <div class="percent" style="--clr: {{ color }}; --num: {{ percent }};">
        <div class="dot"></div>
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
        </svg>
        <div class="number">
          <h2>{{ percent }}<span>%</span></h2>
          <p>{{title}}</p>
        </div>
      </div>
    </div>
  </div>
  