* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // background: #222;
    background: "#fff";
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .container .card {
    position: relative;
    width: 120px;
    height: 150px;
    background: "#00738c";
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  
  .container .card .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .container .card .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .container .card .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
  }
  
  .container .card .percent svg circle:nth-child(2) {
    opacity: 0;
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    animation: fadein 1s linear forwards;
    animation-delay: 3.5s;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .dot {
    position: absolute;
    z-index: 10;
    inset: 5px;
    animation: animateDot 3s linear forwards;
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr);
  }
  
  .number {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    animation: fadein 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .number h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  .number h2 span {
    color: #fff;
    font-weight: 300;
    font-size: 0.5em;
  }
  
  .number p {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    letter-spacing: 2px;
  }
  