<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid mx-10">
        <div class="h-10 justify-self-start my-5">
            <span class="text-3xl text-black align-middle">
                แสดงรายการเบิกค่ารักษาพยาบาลผู้ป่วยนอก สิทธิ์ข้าราชการกรุงเทพฯ
            </span>
        </div>
        <div class="h-24 flex items-center justify-content-center mb-2 bg-white p-2 rounded-2xl shadow-md">
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่เริ่มต้น</mat-label>
                <input matInput [matDatepicker]="picker1" id="startdate" name="startdate" [(ngModel)]="startdate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field color="accent" class="example-form-field mr-2" appearance="outline">
                <mat-label class="text-black">วันที่สิ้นสุด</mat-label>
                <input matInput [matDatepicker]="picker2" id="enddate" name="enddate" [(ngModel)]="enddate">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <span class="ml-2 mr-2 mb-5">ผังบัญชี</span>
            <mat-form-field class="d-flex flex-column w-1/4 mr-2">
                <mat-select [(ngModel)]="selecteditemaccount" (selectionChange)="onOptionsSelected()">
                    <mat-option *ngFor="let item of itemaccount" [value]="item.debt_account_code">
                        {{item.debt_account_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox class="example-margin mb-4" [(ngModel)]="isCheckbox"
            (change)="logCheckbox()">เลือกทุกผังบัญชี</mat-checkbox>
            <button type="button"
                class="flex justify-center items-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 h-12 mb-5 shadow-xl"
                (click)="getopbkkacc()">
                <mat-icon class="text-white" svgIcon="search"></mat-icon>
                <span>ค้นหา</span>
            </button>
        </div>
        <div class="flex flex-wrap">
            <div class="flex-1 mr-2">
                <!-- จำนวนผู้ป่วยทั้งหมด -->
                <div class=" flex flex-col flex-auto p-6 bg-blue-500 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">จำนวนผู้ป่วยทั้งหมด</div>
                        <i class="pi pi-user text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{opbkkcall | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-text-white">ราย</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ดำเนินการเสร็จ -->
                <div class=" flex flex-col flex-auto p-6 bg-green-500 shadow-md rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ดำเนินการเสร็จ</div>
                        <i class="pi pi-chart-line text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{all_notnullcase | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">ราย</div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                        <div class="text-md font-medium truncate text-white">ทั้งหมด : {{debit_notnull | number : '1.2-2'}} บาท
                        </div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                        <div class="ml-1.5 text-xl font-semibold text-white">ชดเชย : {{recieve | number : '1.2-2'}} บาท</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- รอดำเนินการ -->
                <div class="flex flex-col flex-auto p-6 bg-gray-400 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">รอดำเนินการ</div>
                        <i class="pi pi-dollar text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">{{opbkkaccnull_count |
                            number }}</div>
                        <div class="text-lg font-medium text-white">ราย</div>
                    </div>
                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                        <div class="text-xl font-semibold text-white">จำนวน : </div>
                        <div class="ml-1.5 text-xl font-semibold text-white">{{opbkkaccnull_sum | number : '1.2-2'}} บาท</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่าง ค่ารักษา : -->
                <div class="flex flex-col flex-auto p-6 bg-red-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">ส่วนต่างค่ารักษา</div>
                        <i class="pi pi-bitcoin text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{sum_diff | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>

            </div>
            <div class="flex-1 mr-2">
                <!-- ส่วนต่างค่ารักษาที่ต่ำกว่าชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-amber-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">
                            ส่วนต่างค่ารักษาที่ต่ำกว่าชดเชย</div>
                            <i class="pi pi-sort-numeric-down text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{diffloss | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 ">
                <!-- ส่วนต่างค่ารักษาที่สุงกว่าชดเชย -->
                <div class="flex flex-col flex-auto p-6 bg-indigo-500 shadow rounded-2xl overflow-hidden h-56">
                    <div class="flex items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate text-white">
                            ส่วนต่างค่ารักษาที่สุงกว่าชดเชย</div>
                            <i class="pi pi-sort-numeric-up text-3xl " style="color:white"></i>
                    </div>
                    <div class="flex flex-col items-center mt-2">
                        <div class="text-7xl sm:text-6xl font-bold tracking-tight leading-none text-white">
                            {{diffgain | number }}</div>
                        <div class="text-lg font-medium text-white dark:text-white">บาท</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mx-10 overflow-auto">
        <div class="flex-1 rounded-2xl bg-card p-2 my-1 shadow-md">
            <!-- Start Tab -->
            <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
                <mat-tab>
                    <ng-template mat-tab-label>

                        <mat-icon svgIcon="heroicons_outline:calendar"></mat-icon>
                        บัญชีลูกหนี้ ระหว่างดำเนินการ ({{countRowstab1}})
                    </ng-template>
                    <!-- ส่วนที่1 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXNull()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemopbkkNull">
                                    <!-- HN -->
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- vn -->
                                    <ng-container matColumnDef="vn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">VN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.vn}} </td>
                                    </ng-container>
                                    <!-- CID -->
                                    <ng-container matColumnDef="cid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cid}} </td>
                                    </ng-container>
                                    <!-- FULLNAME -->
                                    <ng-container matColumnDef="fullname">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ -
                                            นามสกุล</th>
                                        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                                    </ng-container>

                                    <!-- acc_name -->
                                    <ng-container matColumnDef="acc_name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ผังบัญชี
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.acc_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="visit_date">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            วันที่รับบริการ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.visit_date}} </td>
                                    </ng-container>
                                    <!-- visit_time Column -->
                                    <ng-container matColumnDef="visit_time">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            เวลา</th>
                                        <td mat-cell *matCellDef="let element"> {{element.visit_time }}
                                        </td>
                                    </ng-container>

                                    <!-- charge Column -->
                                    <ng-container matColumnDef="charge">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">จำนวนเงิน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.charge | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- paid Column -->
                                    <ng-container matColumnDef="paid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชำระเงิน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.paid | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- debt Column -->
                                    <ng-container matColumnDef="debt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค้างชำระ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.debt | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- repno Column -->
                                    <ng-container matColumnDef="repno">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">REP NO
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.repno}} </td>
                                    </ng-container>

                                    <!-- projcode Column -->
                                    <ng-container matColumnDef="projcode">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">Projcode
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.projcode}} </td>
                                    </ng-container>

                                    <!-- error_code Column -->
                                    <ng-container matColumnDef="error_code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            error_code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.error_code}} </td>
                                    </ng-container>
                                    <!-- error_name Column -->
                                    <ng-container matColumnDef="error_name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            error_name
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.error_name}} </td>
                                    </ng-container>
                                    <!-- total_summary Column -->
                                    <ng-container matColumnDef="total_summary">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            ชดเชย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.total_summary | number :
                                            '1.2-2'}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="opbkknulldisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: opbkknulldisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:briefcase"></mat-icon>
                        บัญชีลูกหนี้ ที่ดำเนินการเสร็จสิ้นแล้ว ({{countRowstab2}})
                    </ng-template>
                    <!-- ส่วนที่2 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXnotNull()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemopbkknotNull">
                                    <!-- HN -->
                                    <ng-container matColumnDef="hn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">HN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.hn}} </td>
                                    </ng-container>
                                    <!-- vn -->
                                    <ng-container matColumnDef="vn">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">VN</th>
                                        <td mat-cell *matCellDef="let element"> {{element.vn}} </td>
                                    </ng-container>
                                    <!-- CID -->
                                    <ng-container matColumnDef="cid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เลข ปปช.
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cid}} </td>
                                    </ng-container>
                                    <!-- FULLNAME -->
                                    <ng-container matColumnDef="fullname">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชื่อ -
                                            นามสกุล</th>
                                        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                                    </ng-container>

                                    <!-- acc_name -->
                                    <ng-container matColumnDef="acc_name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ผังบัญชี
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.acc_name}} </td>
                                    </ng-container>
                                    <!-- visit_date Column -->
                                    <ng-container matColumnDef="visit_date">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            วันที่รับบริการ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.visit_date}} </td>
                                    </ng-container>
                                    <!-- visit_time Column -->
                                    <ng-container matColumnDef="visit_time">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            เวลา</th>
                                        <td mat-cell *matCellDef="let element"> {{element.visit_time }}
                                        </td>
                                    </ng-container>

                                    <!-- charge Column -->
                                    <ng-container matColumnDef="charge">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">จำนวนเงิน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.charge | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- paid Column -->
                                    <ng-container matColumnDef="paid">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ชำระเงิน
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.paid | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- debt Column -->
                                    <ng-container matColumnDef="debt">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ค้างชำระ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.debt | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- repno Column -->
                                    <ng-container matColumnDef="repno">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">REP NO
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.repno}} </td>
                                    </ng-container>
                                    
                                    <!-- projcode Column -->
                                    <ng-container matColumnDef="projcode">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">Projcode
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.projcode}} </td>
                                    </ng-container>

                                    <!-- error_code Column -->
                                    <ng-container matColumnDef="error_code">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            error_code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.error_code}} </td>
                                    </ng-container>
                                    <!-- error_name Column -->
                                    <ng-container matColumnDef="error_name">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            error_name
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.error_name}} </td>
                                    </ng-container>
                                    <!-- total_summary Column -->
                                    <ng-container matColumnDef="total_summary">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            ชดเชย</th>
                                        <td mat-cell *matCellDef="let element"> {{element.total_summary | number :
                                            '1.2-2'}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="opbkknotnulldisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: opbkknotnulldisplayedColumns;"></tr>
                                </table>

                                <mat-paginator #paginator2 [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:chart-pie"></mat-icon>
                        สรุปการตัดหนี้รายวัน ({{countRowstab3}})
                    </ng-template>
                    <!-- ส่วนที่3 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXAccbyDate()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                <table mat-table [dataSource]="itemopbkkaccbydate">
                                    <!-- dchdate -->
                                    <ng-container matColumnDef="visit_date">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            วันที่รับบริการ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.visit_date}} </td>
                                    </ng-container>
                                    <!-- allcase -->
                                    <ng-container matColumnDef="allcase">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">จำนวนผู้ป่วยทั้งหมด
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.allcase| number : '1.2-2'}}
                                        </td>
                                    </ng-container>
                                    <!-- debit -->
                                    <ng-container matColumnDef="debit">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">มูลค่า ลูกหนี้ทั้งหมด
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.debit | number : '1.2-2'}}
                                        </td>
                                    </ng-container>
                                    <!-- nullcase -->
                                    <ng-container matColumnDef="nullcase">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">รอดำเนินการ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nullcase| number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- nulldebit -->
                                    <ng-container matColumnDef="nulldebit">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">หนี้ที่รอดำเนินการ
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nulldebit| number : '1.2-2'}}
                                        </td>
                                    </ng-container>
                                    <!-- notnullcase -->
                                    <ng-container matColumnDef="notnullcase">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            ดำเนินการเสร็จ</th>
                                        <td mat-cell *matCellDef="let element"> {{element.notnullcase| number :
                                            '1.2-2'}} </td>
                                    </ng-container>
                                    <!-- notnulldebit -->
                                    <ng-container matColumnDef="notnulldebit">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">
                                            หนี้ที่ดำเนินการมี REP แล้ว</th>
                                        <td mat-cell *matCellDef="let element"> {{element.notnulldebit | number :
                                            '1.2-2'}} </td>
                                    </ng-container>

                                    <!-- recieve -->
                                    <ng-container matColumnDef="recieve">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">เงินที่ได้
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.recieve | number : '1.2-2'}}
                                        </td>
                                    </ng-container>

                                    <!-- diff -->
                                    <ng-container matColumnDef="diff">
                                        <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ส่วนต่าง</th>
                                        <td mat-cell *matCellDef="let element"> {{element.diff | number : '1.2-2'}}
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="opbkkaccbydatedisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: opbkkaccbydatedisplayedColumns;"></tr>
                                </table>
                                <mat-paginator #paginator3 [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon svgIcon="heroicons_outline:chart-pie"></mat-icon>
                        สรุป ERROR Code 20 ลำดับ ({{countRowstab4}})
                    </ng-template>
                    <!-- ส่วนที่4 ตารางข้อมูล -->
                    <div class="justify-center">
                        <div class="flex-items-2 bg-white border-2">
                            <button type="button"
                                class="flex justify-center items-center focus:outline-none m-2 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:green-purple-300 font-medium rounded-lg text-sm px-5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 h-10 shadow-xl"
                                matTooltip="Export Excel" (click)="exportAsXLSXErrorcode()">
                                <mat-icon class="text-white" svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                            <div class="p-2 justify-content">
                                <!-- <div class="mat-elevation-z8 p-4"> -->
                                    <table mat-table [dataSource]="itemerrorcode">
                                        <!-- error code -->
                                        <ng-container matColumnDef="error_code">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ERROR CODE
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.error_code}} </td>
                                        </ng-container>
                                        <!-- error name -->
                                        <ng-container matColumnDef="error_name">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">ERROR NAME
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.error_name}}
                                            </td>
                                        </ng-container>
                                        <!-- counterror -->
                                        <ng-container matColumnDef="counterror">
                                            <th mat-header-cell *matHeaderCellDef class="bg-blue-700 text-center text-white">รวม
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.counterror}}
                                            </td>
                                        </ng-container>
                                       
                                        <tr mat-header-row *matHeaderRowDef="errorcodedisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: errorcodedisplayedColumns;"></tr>
                                    </table>
                                <mat-paginator #paginator4 [pageSize]="10" [pageSizeOptions]="[20,50,100]" showFirstLastButtons
                                    aria-label="Select page of periodic elements">
                                </mat-paginator>
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <!-- end Tab -->

        </div>
    </div>
</body>

</html>